<%= form_with(model: contact, local: true, class: 'max-w-md mx-auto bg-white shadow-md rounded-lg p-6') do |form| %>
  <% if contact.errors.any? %>
    <div id="error_explanation" class="mb-4">
      <h2 class="text-red-500 font-bold"><%= pluralize(contact.errors.count, "error") %> prohibited this contact from being saved:</h2>
      <ul class="list-disc list-inside text-red-500">
        <% contact.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-4">
    <%= form.label :name, class: 'block mb-2 font-bold text-gray-600' %>
    <%= form.text_field :name, class: 'border border-gray-300 shadow p-3 w-full rounded mb-', required: true %>
  </div>

  <div class="mb-4">
    <%= form.label :email, class: 'block mb-2 font-bold text-gray-600' %>
    <%= form.text_field :email, class: 'border border-gray-300 shadow p-3 w-full rounded mb-', required: true %>
  </div>

  <div class="mb-4">
    <%= form.label :phone, class: 'block mb-2 font-bold text-gray-600' %>
    <%= form.text_field :phone, class: 'border border-gray-300 shadow p-3 w-full rounded mb-' %>
  </div>

  <div class="flex justify-between">
    <%= form.submit class: 'block w-full bg-cyan-500 text-white font-bold p-4 rounded-lg cursor-pointer' %>
  </div>
<% end %>
